.box-content {
  margin: 20px 0px;  
}

.button {
  margin: auto auto;  
}

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;  
  width: 40%;
  padding: 30px;
}


.card-content {
  width: 80%;
}

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.header {
  text-align: "center";
}





.input-container {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  align-self: center;
  align-items: center;
}